# Use for building flutter application with dart define

CLIENT_UID=your-client-uid
CLIENT_SECRET=your-client-secret
SERVER_HOST=192.0.0.1:2019
WORKER_MODE=debug
TELEGRAM_BOT_TOKEN=your_super_secret_telegram_bot_token
